<template>
  <div class="card mt-3">
      <div class="card-body">
          <div class="card-title">
              <h3>Administration</h3>
              <hr>
          </div>
          <div class="card-body">
            <div class="gorm-group">
                <label>In Water:</label>
                <br />
                <NumberInput type="number" v-model="inWater" inline controls></NumberInput>
            </div>
            <br />
            <div class="gorm-group">
                <label>In Ready Area:</label>
                <br />
                <NumberInput type="number"  v-model="inReady" inline controls></NumberInput>
            </div>
          </div>
      </div>
      <div class="card-footer">

      </div>
  </div>
</template>

<script>
import io from 'socket.io-client';
import NumberInput from './NumberInput.vue';

export default {
    components: {
        NumberInput
    },
    data() {
        return {
            inWater: 0,
            inReady: 0,
            socket : io('https://meet-tracker-server-xu2jix4jga-uc.a.run.app/')
        }
    },
    methods: {
        emitValue() {
            const inWater = this.inWater;
            const inReady = this.inReady;
            this.socket.emit('UPDATE', {inWater, inReady});
        }
    },
    mounted() {
        /**
            REQUEST_FOR_UPDATE - WHEN A NEW CLIENT JOINS THEY ASK AN ADMIN FOR AN UPDATE
        **/
        this.socket.on('REQUEST_FOR_UPDATE', () => {
            this.emitValue();
        });
    },
    watch: {
        inWater() {
            return this.emitValue();
        },
        inReady() {
            return this.emitValue();
        }
    }
}
</script>

<style>

</style>
