<template>
  <div>
   <v-card class="elevation-12">
    <v-toolbar dark color="primary">
    <v-toolbar-title>Barracuda Meet Tracker <v-chip color="red" dark>LIVE!</v-chip></v-toolbar-title>
    <v-spacer></v-spacer>
    </v-toolbar>
      <v-card-text>
        <v-divider></v-divider>
          <v-label>In Water</v-label>
          <h2>{{ inWater }}</h2>
          <v-divider></v-divider>
          <v-label>In Ready Area</v-label>
          <h3>{{ inReady }}</h3>
      </v-card-text>
    </v-card>

    <v-card class="elevation-12">
    <v-toolbar dark color="primary">
    <v-toolbar-title>My Notifications</v-toolbar-title>
    <v-spacer></v-spacer>
    </v-toolbar>
      <v-card-text>
        <v-alert
            v-if="this.trackedEvents.length > 0"
            :value="true"
            color="error"
            icon="warning"
            outline
            >
            Notifications are still a work in progress.  We are still trying to make sure they work on all devices. So don't rely on them just yet.
        </v-alert>
        <v-select
            v-model="trackedEvents"
            :items="eventNumbers"
            attach
            chips
            deletable-chips
            label="Events"
            multiple
          ></v-select>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import io from 'socket.io-client';

export default {
    data() {
        return {
            inWater: 0,
            inReady: 0,
            socket : io('https://meet-tracker-server-xu2jix4jga-uc.a.run.app/'),
            trackedEvents: [],
            totalEvents: 80,
            trackedToReadyEvents: [],
            notifiedEvents: [],
            newEventNumberToTrack: 0
        }
    },
    created() {
        PWA.Notification.requestPermission((status) => {
            console.log('Notification permission status:', status);
        });

        this.socket.emit('REQUEST_FOR_UPDATE');

        /**
            UPDATE - when admins send an update to the data
                data:  { inWater: int, inReady: int }
        **/
        this.socket.on('UPDATE', (data) => {
            this.inWater = data.inWater;
            this.inReady = data.inReady;
        });
    },
    computed: {
        eventNumbers: function () {
            var nums = []
            for(let x=1; x<this.totalEvents; x++) {
                nums.push({text: x.toString(), value: x});
            }
            return nums;
        }
    },
    methods: {
        trackEvent: function() {
            this.trackedToReadyEvents.push(this.newEventNumberToTrack);
            this.trackedEvents.push(this.newEventNumberToTrack);
            this.newEventNumberToTrack = 0;
        },

        sendMsg: function (body, title) {
            const options = {
                body: body,
                icon: './public/favicon.ico'
            };

            PWA.Notification.show(title, options, sent => {
                if (sent) {
                    console.log('The Notification has been sent');
                }
            });
        },

        removeEventFromReady: function (num) {
            this.trackedToReadyEvents = this.trackedToReadyEvents.filter(_ => _ !== num);
        },
        removeEvent: function (num) {
            this.trackedEvents = this.trackedEvents.filter(_ => _ !== num);
        },

    },
    watch: {
        inWater: function () {
            if (!this.trackedEvents) {
                return;
            }
            if (this.trackedEvents.filter(_ => _-1 === this.inWater).length > 0) {
                this.sendMsg(`Event ${this.inWater+1} is up next in the water!`, 'UP NEXT!');
                this.removeEvent(this.inWater+1);
            }
        },
        inReady: function () {
            if (!this.trackedEvents) {
                return;
            }
            if (this.trackedEvents.filter(_ => _ === this.inReady).length > 0) {
                this.sendMsg(`Event ${this.inReady} is needed in the ready area`, `Event ${this.inReady} to the READY AREA!`);
                this.removeEventFromReady(this.inReady);
            }
        }
    }
}
</script>

<style>

</style>
