<template>
  <div id="app">

  <v-app id="inspire">
    <v-content>
    <h1>League City v. Pearland</h1><em>6-8-2019</em>
      <v-container fluid fill-height>
          <v-layout>
            ,
                <Tracker
                    v-if="!isAdmin"
                  />
                  <Admin
                    v-if="isAdmin"
                  />
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>

</template>

<script>
import Tracker from './components/Tracker.vue'
import Admin from './components/Admin.vue'

export default {
  name: 'app',
  components: {
    Admin,
    Tracker
  },
  data() {
    return {
      isAdmin: false
    }
  },
  created() {
    const hash = window.location.hash;
    this.isAdmin = hash === '#admin';
  }
}
</script>

<style>

</style>
